* {
  margin: 0;
  padding: 0;
}

.header-highlight {
  background-color: #af1e21;
  width: 100%;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-highlight .highlight-text {
  font-size: 18px;
  color: #fff;
  line-height: 20px;
}

.menu1,
.menu3 {
  background-color: #000;
}

.menu1 ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding: 12px 0;
}

.menu1 .menu1-left li a {
  font-size: 16px;
}

.menu1 .menu1-left li:last-child {
  margin-left: 36px;
}

.menu1 .menu1-right li,
.menu3 .menu1-right li {
  margin-left: 16px;
  text-transform: uppercase;
  font-size: 12px;
}

.menu1 .menu1-right {
  justify-content: end;
}

.menu1 .menu1-right li {
  margin-right: 16px;
  margin-left: 0;
}

.menu3 .menu1-right li {
  margin-right: 16px;
  margin-left: 0;
}



.menu1 ul li a,
.menu3 ul li .nav-link,
.menu3 ul li .nav-link.show {
  list-style: none;
  display: flex;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.menu3 .nav-link.active {
  color: #af1e21;
  font-weight: 700;
}

/* menu 1 end here */

.menu2 {
  padding: 25px 0;
}

.menu2 .search {
  background-color: #fafafa;
  border-bottom: 1px solid #e7e7e7;
}

.menu2 .search input {
  border: 0 !important;
  background-color: transparent;
  border-radius: 0;
}

.menu2 .search input:focus {
  box-shadow: none;
}

.menu2 .search button {
  border: 0 !important;
  background-color: transparent;
  border-radius: 0;
}

.cart-wishlist {
  display: inline-block;
  vertical-align: middle;
}

.cart-wishlist a {
  display: inline-block;
  vertical-align: middle;
}

.cart-wishlist svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.cart-wishlist a {
  text-decoration: none;
}

.cart-wishlist .cart-text {
  color: #323232;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.cart-wishlist .wishlist {
  margin-left: 25px;
}

.cart-wishlist .wishlist svg {
  width: 19px;
  height: 18px;
  margin-right: 8px;
  top: 0;
}

.cart-wishlist .cart-count-bubble {
  position: relative;
  background-color: #ffe5e8;
  color: #323232;
  margin-left: 8px;
  display: inline-block !important;
  vertical-align: middle;
}

.cart-wishlist .cart-count-bubble {
  top: 0;
  right: 0;
  min-width: 23px;
  min-height: 23px;
  text-align: center;
  border-radius: 50%;
  line-height: 22px;
  position: relative;
}


.product-slider .product-wrapper,
.single-product .product-wrapper {
  position: relative;
  cursor: pointer;
}

.product-slider .product-wrapper .sale-badge,
.single-product .sale-badge {
  background-color: #af1e21;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 2px 16px;
  color: #fff;
  width: fit-content;
  position: absolute;
  top: 0;
}




/* width */
.product-slider ::-webkit-scrollbar {
  width: 2px;
  height: 5px;

}

/* Track */
.product-slider ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.product-slider ::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
.product-slider ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.product-slider .product-wrapper .quick-add a,
.single-product .product-wrapper .quick-add a {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  padding: 15px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  width: 100%;
  text-decoration: none;
  display: block;
}



.product-slider .product-wrapper .image-wrapper,
.single-product .product-wrapper .image-wrapper {
  overflow: hidden;
}

.product-slider .product-wrapper img,
.single-product .product-wrapper img {
  height: 250px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 25px;
  margin-top: 50px;
  transform: scale(1);
  transition: all ease-in-out .5s;
}

.product-slider .product-wrapper .quick-add,
.single-product .product-wrapper .quick-add {
  width: 100%;
  border: 1px solid #000;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

.image-wrapper {
  position: relative;
}

.product-slider .product-wrapper .quick-add:hover,
.single-product .product-wrapper .quick-add:hover {
  background-color: #000;
  color: #fff;
}

.product-slider .product-wrapper .image-wrapper img:hover,
.single-product .product-wrapper .image-wrapper img:hover {
  transform: scale(1.05);
}

.card-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: transparent;
  z-index: 10;
  margin: 0;
  transform: translate3d(0, 15px, 0);
  transition: transform 0.5s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.product-slider .product-wrapper:hover .card-action,
.single-product .product-wrapper:hover .card-action {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateZ(0);
}





.product-slider .product-wrapper .prod-description,
.single-product .product-wrapper .prod-description {
  margin-bottom: 50px;
}

.product-slider .product-wrapper .prod-description .name,
.single-product .product-wrapper .prod-description .name {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 15px;
}

.product-slider .product-wrapper .prod-description .was,
.single-product .product-wrapper .prod-description .was,
.single-product .product-wrapper .prod-description .sale-price,
.product-slider .product-wrapper .prod-description .sale-price {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 10px;
}

.product-slider .product-wrapper .prod-description .was span,
.single-product .product-wrapper .prod-description .was span {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(175, 30, 33);
  text-decoration: line-through;
  line-height: 1.2;
  text-align: left;
}

.product-slider .product-wrapper .prod-description .sale-price span,
.single-product .product-wrapper .prod-description .sale-price span {
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1.2;
  text-align: left;
}

.card-product__group {
  position: absolute;
  z-index: 10;
  transition: transform var(--duration-long) ease, opacity var(--duration-default) ease;
}

.card-quickview .quickview-icon,
.card-wishlist .wishlist-icon,
.card-compare .compare-icon {
  display: block;
  text-align: center;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 9px;
  line-height: 1;
  border-radius: 50%;
  font-size: 0;
  letter-spacing: 0;
  cursor: pointer;
}

.card-wishlist .wishlist-icon {
  background-color: #ffffff;
  border: 1px solid transparent;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.card-quickview .text,
.card-wishlist .text,
.card-compare .text,
.card-compare .text_1 {
  display: none;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 22;
  width: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  right: calc(100% - 30px);
  height: 36px;
  background-color: #fff;
  line-height: 36px;
  position: absolute;
  top: 50%;
  padding: 0 30px 0 15px;
  border-radius: 36px;
  transform: translateY(-50%);
  transition: all ease .3s;
  transition-duration: 350ms;
  pointer-events: none;
}

.card-wishlist .icon {
  fill: #000;
}

.card-quickview .icon,
.card-wishlist .icon,
.card-compare .icon {
  width: 100%;
  height: 100%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  vertical-align: top;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.card-wishlist .text {
  color: #000;
  background-color: #fff;
  text-transform: capitalize;
}

.card-product__group.group-right .card-wishlist .wishlist-icon:hover .text,
.card-product__group.group-right .card-quickview .quickview-icon:hover .text,
.card-product__group.group-right .card-compare .compare-icon:hover .text {
  left: auto;
  right: calc(100% - 30px);
}

.card-quickview .quickview-icon:hover .text,
.card-wishlist .wishlist-icon:hover .text,
.card-compare .compare-icon:hover .text {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: inline-block;
  width: auto;
}


.card-product__group.group-right {
  left: auto;
  right: 10px;
  transform: translate3d(10px, 0, 0);
  top: 10px;
  display: flex;
  flex-direction: column;
}

.card-product__group {
  opacity: 0;
  visibility: hidden;
  left: auto;
  right: 10px;
  transform: translate3d(10px, 0, 0);
}

.product-slider .product-wrapper:hover .card-product__group,
.single-product .product-wrapper:hover .card-product__group {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.section-wrapper {
  margin-top: 50px;
  margin-bottom: 80px;
}

.section-title {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border-bottom: 2px solid #000;
  padding-bottom: 14px;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 49px;
  height: 9px;
  background-color: #af1e21;
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.view-all {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #dbdbdb;
  padding: 10px 16px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 40px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
}

.call-banner {
  background-image: url("../assets/call-bg.jpg");
  padding: 80px 0;
  background-size: cover;
}

.call-banner .wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: -22%;
  top: 50%;
}


.call-banner .wrapper {
  display: flex;
  align-items: center;
}

.call-banner .wrapper ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.call-banner .wrapper ul li {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  line-height: 1.6;
  font-weight: 700;
  position: relative;
}

.call-banner .wrapper ul li:before {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  left: -35px;
  bottom: 14px;
  border: 3px solid #af1e21;
  border-radius: 50%;
}

.our-brands {
  background-color: #edeef2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-brands h1 {
  font-family: "Montserrat";
  color: #000;
}

.our-brands p {
  font-family: "Montserrat";
  color: #14272e;
  margin: 30px 0;
  font-size: 18px;
}

.our-brands .cta {
  font-family: "Montserrat";
  text-transform: uppercase;
  border: 1px solid #af1e21;
  color: #14272e;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: 600;
}

.our-brands .brand-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.23);
  text-align: center;
  margin-bottom: 16px;
  min-height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cust-field-sec {
  display: inline-block;
  text-align: center;
}

.cust-field-sec h2 {
  font-size: 55px;
  color: #000;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 25px;
  background-color: #fff;
  display: inline-block;
  margin: 0px auto !important;
  padding: 0px 20px;
}

.et_pb_text ol,
.et_pb_text ul {
  padding-bottom: 1em;
}

#left-area ul,
.entry-content ul,
.et-l--body ul,
.et-l--footer ul,
.et-l--header ul {
  list-style-type: disc;
  padding: 0 0 23px 1em;
  line-height: 26px;
}

.gympros-list {
  margin-bottom: 30px;
  columns: 2;
  border: 4px solid #000;
  padding: 60px 15px 15px;
}

.gympros-list li {
  display: block;
  padding-left: 30px;
  background-image: url("https://www.gympros.com/wp-content/uploads/2020/06/red-bullet-img.png");
  background-repeat: no-repeat;
  background-position: left 5px;
  color: #000;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 400;
}

.cust-field-sec img {
  margin-bottom: 15px;
  width: 100%;
}

.supply-section {
  margin: 50px 0 0 0;
}

.supply-section .section-title {
  margin-bottom: 0;
}

.supply-brands {
  background-color: #edeef2;
  padding: 30px 0;
}

.blogs-wrapper {
  margin: 80px 0;
}

.blogs-wrapper .section-title {
  border: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #14272e;
  padding-bottom: 0;
}

.blogs-wrapper .view-all {
  margin-top: 20px;
  display: inline-block;
}

.blogs-wrapper .section-title::after {
  content: none;
}

.commercial-fitness ul {
  border-bottom: 2px solid #000;
}

.commercial-fitness li button {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.commercial-fitness li button.nav-link.active {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.commercial-fitness li button.nav-link.active {
  background-color: transparent;
  color: rgb(20, 39, 46);
}

.commercial-fitness li button.nav-link.active::after {
  content: '';
  position: absolute;
  width: 49px;
  height: 9px;
  background-color: #af1e21;
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.commercial-fitness-content {
  background-color: #edeef2;
}

.commercial-fitness-content .tab-pane {
  padding: 40px;
  font-size: 17px;
  font-family: "Montserrat";
  color: rgb(20, 39, 46);
  line-height: 1.412;
  text-align: left;
}

.commercial-fitness-content .tab-pane a {
  color: #af1e21;
}

.logo-strip {
  padding: 40px 0;
}

.footer {
  background: #232323;
  padding-top: 35px;
  padding-bottom: 40px;
}

.footer h2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  letter-spacing: 0.75px;
  line-height: 22px;
  margin-block-end: 12px;
  margin-block-start: 0px;
  margin-bottom: 12px;
  font-family: "Montserrat";
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: none;
  margin: none;
}

.footer ul li a {
  box-sizing: border-box;
  color: rgb(207, 207, 207);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.footer-block__subheading {
  color: rgb(207, 207, 207);
  display: block;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0.24px;
  line-height: 18px;
  margin-bottom: 10px;
}

.field__input {
  color: #cfcfcf;
  background-color: #232323;
  border: 1px solid #d3d3d3;
  font-size: 16px;
  padding: 8px 16px;
  width: 100%;
}

.form__button {
  color: #232323;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  height: 42px;
  padding: 0 26px;
  margin-left: 10px;
  font-weight: 700;
}

.social-icons {
  padding: 0;
  margin: 0;
  margin-top: 30px
}

.social-icons li {
  display: inline-block;
  margin-right: 16px;
}

.social-icons li a {
  display: inline-block;
  color: #282828 !important;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px;
  border-radius: 50%;
}

.footer__content-bottom {
  background: #232323;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #282828;
  padding: 40px 0 34px;
  box-sizing: border-box;
  color: rgb(207, 207, 207);
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.breadcrum {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
}

.category-wrapper .cetegory {
  margin-top: 25px;
}

.category-wrapper .cetegory ul {
  margin: 19px -5px 12px;
  list-style: none;
  padding: 0;
}

.category-wrapper .filter {
  margin-bottom: 44px;
}

.category-wrapper .filter .title {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #787878;
  padding-bottom: 9px;
  margin-bottom: 5px;
}

.category-wrapper .filter label {
  color: rgb(35, 35, 35);
  cursor: pointer;
  display: block;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.wrapper-price-slide {
  margin: 30px 0 35px;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #000;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.single-product {}